[submodule "argokai"]
	path = argokai
	url = https://github.com/rey-wright/argokai.git
[submodule "vim-signify"]
	path = vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim-indent-guides"]
	path = vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "ag.vim"]
	path = ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "vim-sparkup"]
	path = vim-sparkup
	url = https://github.com/tristen/vim-sparkup.git
[submodule "vim-rails"]
	path = vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim-surround"]
	path = vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "gist-vim"]
	path = gist-vim
	url = git@github.com:mattn/gist-vim.git
[submodule "vim-handlebars"]
	path = vim-handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "vim-swift"]
	path = vim-swift
	url = git://github.com/toyamarinyon/vim-swift.git
[submodule "powerline"]
	path = powerline
	url = git@github.com:powerline/powerline.git
[submodule "emmet-vim"]
	path = emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "vim-textobj-rubyblock"]
	path = vim-textobj-rubyblock
	url = git@github.com:nelstrom/vim-textobj-rubyblock.git
[submodule "vim-textobj-user"]
	path = vim-textobj-user
	url = git@github.com:kana/vim-textobj-user.git
[submodule "yajs.vim"]
	path = yajs.vim
	url = git@github.com:othree/yajs.vim.git
[submodule "vim-js-context-coloring"]
	path = vim-js-context-coloring
	url = git@github.com:bigfish/vim-js-context-coloring.git
