[submodule "vim-sparkup"]
	path = vim-sparkup
	url = git@github.com:tristen/vim-sparkup.git
[submodule "zencoding-vim"]
	path = zencoding-vim
	url = http://github.com/mattn/zencoding-vim.git
[submodule "argokai"]
	path = argokai
	url = https://github.com/rey-wright/argokai.git

